<%= form_for(@file_version) do |f| %>
  <% if @file_version.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@file_version.errors.count, "error") %> prohibited this file_version from being saved:</h2>

      <ul>
      <% @file_version.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :revision %><br />
    <%= f.number_field :revision %>
  </div>
  <div class="field">
    <%= f.label :file_record_id %><br />
    <%= f.number_field :file_record_id %>
  </div>
  <div class="field">
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :message %><br />
    <%= f.text_area :message %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.datetime_select :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
