<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @project.title %>
</p>

<p>
  <b>Date:</b>
  <%= @project.date %>
</p>

<p>
  <b>Version:</b>
  <%= @project.version %>
</p>

<p>
  <b>Summary:</b>
  <%= @project.summary %>
</p>


<%= render 'file_records/index.html.erb', :object => @file_records %>



<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
