<h1>Listing filtered_words</h1>

<table>
  <tr>
    <th>Word</th>
    <th>Replacement</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @filtered_words.each do |filtered_word| %>
  <tr>
    <td><%= filtered_word.word %></td>
    <td><%= filtered_word.replacement %></td>
    <td><%= link_to 'Show', filtered_word %></td>
    <td><%= link_to 'Edit', edit_filtered_word_path(filtered_word) %></td>
    <td><%= link_to 'Destroy', filtered_word, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Filtered word', new_filtered_word_path %>
