<!DOCTYPE html>
<html>
<head>
  <title>Poker</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>

<div class="container">

  <% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %></p>
  <% end %>
  <% if flash[:alert] %>
      <p class="alert"><%= flash[:alert] %></p>
  <% end %>
  <% if flash[:notice] %>
      <p class="error"><%= flash[:error] %></p>
  <% end %>
  <%= yield %>
</div>

<%= render 'layouts/footer' %>

</body>
</html>
